<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611116265466-ki6ivca9sff0i73g6sij0nnusmh1sdah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611116265466-ki6ivca9sff0i73g6sij0nnusmh1sdah</string>
	<key>API_KEY</key>
	<string>AIzaSyBbY4hUGxmEJnx_EsqQ2KTexYeNMM2lwt4</string>
	<key>GCM_SENDER_ID</key>
	<string>611116265466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maxwu.hopscotch</string>
	<key>PROJECT_ID</key>
	<string>hopscotch-ddd21</string>
	<key>STORAGE_BUCKET</key>
	<string>hopscotch-ddd21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611116265466:ios:404368b8f9dd6dcab67e43</string>
</dict>
</plist>